<section i-pagesection="short">
    {% if include.older %}
        <a i-projectrelated="previous" href="{{ include.older.url }}">
            <span i-projectrelated-subtitle>previous:</span>

            <svg i-projectrelated-icon>
                <use xlink:href="#symbol-thumbnail-{{ include.older.slug }}">
            </svg>

            <span i-projectrelated-title>{{ include.older.title }}</span>
        </a>
    {% endif %}

    {% if include.newer %}
        <a i-projectrelated="next" href="{{ include.newer.url }}">
            <span i-projectrelated-subtitle>next:</span>

            <svg i-projectrelated-icon>
                <use xlink:href="#symbol-thumbnail-{{ include.newer.slug }}">
            </svg>

            <span i-projectrelated-title>{{ include.newer.title }}</span>
        </a>
    {% endif %}
</section>
