<section gui-pageSection="short">

    {% if include.older %}
        <a gui-projectRelated="previous" href="{{ include.older.url }}">
            <span gui-projectRelated-subtitle>previous:</span>
            <svg gui-projectRelated-icon>
                <use xlink:href="#icon-thumbnail-{{ include.older.slug }}">
            </svg>
            <span gui-projectRelated-title>{{ include.older.title }}</span>
        </a>
    {% endif %}

    {% if include.newer %}
        <a gui-projectRelated="next" href="{{ include.newer.url }}">
            <span gui-projectRelated-subtitle>next:</span>
            <svg gui-projectRelated-icon>
                <use xlink:href="#icon-thumbnail-{{ include.newer.slug }}">
            </svg>
            <span gui-projectRelated-title>{{ include.newer.title }}</span>
        </a>
    {% endif %}

</section>
