<article i-listed-project>
    <!-- clickable thumbnail -->
    <a i-listed-project--link href="{{ post.url }}">
        <svg i-listed-project--icon>
            <use xlink:href="#symbol-project-{{ post.slug }}">
        </svg>

        <h2 i-listed-project--title>{{ post.title }}</h2>

        <p i-listed-project--description>{{ post.description}}</p>
    </a>

    <time i-listed-project--date>{{ post.date | date: "%B %Y" }}</time>

    {% include modules/categories-list/categories-list.liquid categories=post.categories %}
</article>
