<div i-listed-project>
    <!-- clickable thumbnail -->
    <a i-listed-project--thumbnail href="{{ post.url }}">
        <svg i-listed-project--thumbnail-icon>
            <use xlink:href="#symbol-thumbnail-{{ post.slug }}">
        </svg>

        <span i-listed-project--thumbnail-title>
            {{ post.title }}
        </span>

        <span i-listed-project--thumbnail-description>
            {{ post.description}}
        </span>
    </a>

    <time i-listed-project--date>{{ post.date | date: "%B %Y" }}</time>

    {% include modules/categories-list/categories-list.liquid categories=post.categories %}
</div>
