<div i-post-summary>
    <!-- clickable thumbnail -->
    <a i-post-summary--thumbnail href="{{ post.url }}">
        <svg i-post-summary--thumbnail-icon>
            <use xlink:href="#symbol-thumbnail-{{ post.slug }}">
        </svg>

        <span i-post-summary--thumbnail-title>
            {{ post.title }}
        </span>

        <span i-post-summary--thumbnail-description>
            {{ post.description}}
        </span>
    </a>

    <time i-post-summary--date>{{ post.date | date: "%B %Y" }}</time>

    {% include modules/categories-list/categories-list.liquid categories=post.categories %}
</div>
