<div i-postsummary>
    <!-- clickable thumbnail -->
    <a i-postsummary-thumbnail href="{{ post.url }}">
        <svg i-postsummary-thumbnail-icon>
            <use xlink:href="#symbol-thumbnail-{{ post.slug }}">
        </svg>

        <span i-postsummary-thumbnail-title>
            {{ post.title }}
        </span>

        <span i-postsummary-thumbnail-description>
            {{ post.description}}
        </span>
    </a>

    <time i-postsummary-date>{{ post.date | date: "%B %Y" }}</time>

    {% include modules/categories-list/categories-list.liquid categories=post.categories %}
</div>
