{% comment %}
This template renders links to previous and next projects
@param older - comes from page.previous
@param newer - comes from page.next
{% endcomment %}
<section i-related-projects>
    <span i-related-projects--title>Go deeper:</span>

    {% if include.older %}
        <a i-related-project href="{{ include.older.url }}" title="Older project">
            {{ include.older.title }}

            {% include symbols/project-{{unclude.older.slug}}.svg %}
        </a>
    {% endif %}

    {% if include.older and include.newer %}or{% endif %}

    {% if include.newer %}
        <a i-related-project href="{{ include.newer.url }}" title="Newer project">
            {{ include.newer.title }}

            {% include symbols/project-{{inlude.newer.slug}}.svg %}
        </a>
    {% endif %}
</section>
