{% comment %}
This template renders links to previous and next projects
@param older - comes from page.previous
@param newer - comes from page.next
{% endcomment %}
<section i-related-projects>
    <span i-related-projects--title>Go deeper:</span>

    {% if include.older %}
        <a i-related-project="previous" href="{{ include.older.url }}">

            <svg i-related-project--icon>
                <use xlink:href="#symbol-project-{{ include.older.slug }}">
            </svg>

            <span i-related-project--title>{{ include.older.title }}</span>

            <span i-related-project--subtitle>++</span>
        </a>
    {% endif %}

    {% if include.newer %}
        <a i-related-project="next" href="{{ include.newer.url }}">
            <svg i-related-project--icon>
                <use xlink:href="#symbol-project-{{ include.newer.slug }}">
            </svg>

            <span i-related-project--title>{{ include.newer.title }}</span>

            <span i-related-project--subtitle>--</span>
        </a>
    {% endif %}
</section>
