<section>

    {% if include.previousPost %}
        <a href="{{ include.previousPost.url }}">
            <svg><use xlink:href="#icon-thumbnail-{{ include.previousPost.slug }}"></svg>
            Previus: {{ include.previousPost.title }}
        </a>
    {% endif %}

    {% if include.nextPost %}
        <a href="{{ include.nextPost.url }}">
            <svg><use xlink:href="#icon-thumbnail-{{ include.nextPost.slug }}"></svg>
            Next: {{ include.nextPost.title }}
        </a>
    {% endif %}

</section>
