<section>

    {% for image in include.images %}
    <a href="{{ site.imagesPath }}{{ include.slug }}/original/{{ image }}">
        <img
            alt="{{ image }}"
            src="{{ site.imagesPath }}{{ include.slug }}/thumbnail/{{ image }}"
            srcset="
                {{ site.imagesPath }}{{ include.slug }}/thumbnail/{{ image }} 1x,
                {{ site.imagesPath }}{{ include.slug }}/thumbnail-x2/{{ image }} 2x
            "
        >
    </a>
    {% endfor %}

</section>
