{% include html-begin.liquid %}

    {% include partials/page-header.liquid %}

    <section id="appContent" role="main">

        <article>

            <header>
                <h1>{{ page.title }}</h1>
            </header>

            <h2>Description:</h2>

            {{ content }}

            <h2>Gallery:</h2>

            {% include modules/post-gallery.liquid images=page.gallery slug=page.slug %}

            <footer>

                <time datetime="{{ page.date }}">
                    CLOCK {{ page.date | date: "%B %Y" }}
                </time>

            </footer>

        </article>

        <section>

            {% if page.previous.url %}
            <a href="{{ page.previous.url }}">
                Previus post
            </a>
            {% endif %}

            {% if page.next.url %}
            <a href="{{ page.next.url }}">
                Next post
            </a>
            {% endif %}

        </section>

    </section>

    {% include partials/page-footer.liquid %}

{% include html-end.liquid %}
