{% include setup/template-start.liquid %}

{% include modules/main-menu/main-menu.liquid %}

<section role="main">
    <header i-page-title>
        <h1 i-page-title--name>{{ page.title }}</h1>

        <p i-page-title--description>
            <strong>TL;DR</strong>
            {{ page.description }}
        </p>

        <time i-page-title--meta datetime="{{ page.date }}">
            {{ page.date | date: "%B %Y" }}
        </time>
    </header>

    <section i-typography>
        {{ content }}
    </section>

    {% include modules/related-projects/related-projects.liquid older=page.previous newer=page.next %}
</section>

{% include modules/page-footer.liquid %}

{% include setup/template-end.liquid %}
