{% include htmlBegin.liquid %}

{% include global/pageHeader.liquid %}

<section role="main">

    <header gui-pageTitle gui-pageSection="short">
        <h1 gui-pageTitle-name>{{ page.title }}</h1>

        <time gui-pageTitle-meta datetime="{{ page.date }}">
            from {{ page.date | date: "%B %Y" }}
        </time>
    </header>

    <section gui-projectShortDescription>
        <strong>TL;DR</strong>
        {{ page.description }}
    </section>

    <section gui-projectContent>
        {{ content }}
    </section>

    {% include project/relateds.liquid older=page.previous newer=page.next %}

</section>

{% include global/pageFooter.liquid %}

{% include htmlEnd.liquid %}
