{% include htmlBegin.liquid %}

{% include global/pageHeader.liquid %}

<section role="main">

    <header gui-pagetitle>

        <h1 gui-pagetitle-name>{{ page.title }}</h1>

        <p gui-pagetitle-description>{{ page.description }}</p>

        <time gui-pagetitle-meta datetime="{{ page.date }}">
            {{ page.date | date: "%B %Y" }}
        </time>

    </header>

    <section gui-projectContent>
        {{ content }}
    </section>

    {% include project/relateds.liquid older=page.previous newer=page.next %}

</section>

{% include global/pageFooter.liquid %}

{% include htmlEnd.liquid %}
