<div>

    <a href="{{ post.url }}">
        <svg am-icon="thumbnail"><use xlink:href="#icon-thumbnail-{{ post.slug }}"></svg>
    </a>

    <div><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></div>

    <div><time>{{ post.date | date: "%B %Y" }}</time></div>

    {% include modules/post-categories-list.liquid categories=post.categories %}

</div>
